
<form [formGroup]="form" (submit)="guardarCambios()">
    <mat-form-field appearance="outline">
        <mat-label>Nombre</mat-label>
        <input 
            type="text"
            matInput 
            formControlName="nombre" />
    </mat-form-field>
    <div>
        <button mat-flat-button color="primary" class="mt">
            Guardar Cambios
        </button>
        <a mat-stroked-button routerLink="/generos" style="margin-left:1rem;">
            Cancelar
        </a>
    </div>
</form>